html {
    scroll-behavior: smooth;
}

.header {
    height: 130px;
    background-color: rgb(255, 250, 245);
}

.header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(0, 1, 66);
}

.header__navbar-span {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.header__logo {
    width: 100%;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
    text-align: center;
}

.header__logo-img {
    width: 100px;
}

.slide {
    position: relative;
    padding-top: 50%;
    width: 100%;
    background: url('../img/20190926121322_IMG_9965.JPG') top center / cover no-repeat;
}

.slide .text-content {
    position: absolute;
    color: #fff;
    bottom: 100px;
    /* left: 50%;
    transform: translate(-50%); */
    width: 100%;
    text-align: center;
}

.slide .text-hearding {
    font-size: 24px;
    font-weight: 500;
}

.slide .text-description {
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 5px #000;
}

.nav__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 20px 0 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content .content-heading {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.content .about-text {
    margin-top: 25px;
    text-align: center;
    line-height: 1.4;
    font-size: 15px;
}

.content__btn {
    padding: 0 20px;
}


/* //////////// */

.content-slide {
    padding: 20px 0 30px;
    height: 100vh;
}

.container {
    width: 80%;
    height: 80%;
    margin: 50px auto;
}

.main {
    position: relative;
    height: 80%;
    margin-bottom: 20px;
}

.list-image {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.list-image div {
    flex: 1;
    padding: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.control {
    position: absolute;
    top: 50%;
    font-size: 70px;
    color: #fff;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
    cursor: pointer;
}

.next {
    right: 10px;
    cursor: pointer;
}

.active {
    background-color: red;
}

.img-feature {
    transition: 2s;
}


/* /////////////////// */

.footer {
    margin-top: 140px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0px 0px;
}

.footer__dowload {
    display: flex;
}

.footer__dowload-qr {
    width: 80px;
    border: 1px solid var(--border-color);
}

.footer__dowload-apps {
    /* flex: 1; */
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__dowload-app-img {
    height: 16px;
}

.footer__dowload-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}

.footer-m {
    padding: 40px 0px;
    text-align: center;
    margin-top: 150px;
}

.footer-m-m .footer-img {
    width: 300px;
    height: 300px;
    margin-top: 100px;
}

.footer__heading {
    text-align: left;
}

.footer-list-1 {
    display: flex;
    list-style: none;
}

.footer-item-1 {
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
}

.fb {
    color: blue;
}

.tk {
    color: black;
}

.phone {
    color: green;
}

.youtube {
    color: red;
}

.footer .row {
    text-align: center;
}

.footer-icon {
    /* display: flex;
    align-items: center; */
}

.footer__heading-1 {
    text-align: center;
    font-size: 20px;
}

.footer__dowload {
    width: 100%;
}